* {
    box-sizing: border-box;
}

.username {
    margin: 0px;
}

.cookbookContainer {
    border: 1px black solid;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 5px;
}

.cookbooks {
    display: inline-block;
    padding: 5px;
    max-width: 110px;
}

.cookbookImage {
    height: 100px;
    width: 100px;
    text-align: center;
}

.cookbookText {
    text-align: center;
    white-space: normal;
    padding: 5px;
    margin: 0px;
}

.newCookbookButton {
    white-space: normal;
}

.newRecipeButton {
    margin-bottom: 5px;
}

.recipe {
    border: 1px black solid;
    height: 110px;
    padding: 4px;
    margin-bottom: 5px;
}

.recipeImage {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 5px;
}

.editRecipeButton {
    float: right;
}

.recipeName {
    margin: 0px;
    padding-top: 5px;
}

.recipeInfo {
    margin: 0px;
    padding-top: 5px;
}