* {
    box-sizing: border-box;
}

.username {
    margin: 0px;
}

.newRecipeButton {
    margin-bottom: 5px;
}

.recipe {
    border: 1px black solid;
    padding: 4px;
    margin-bottom: 5px;
}

.recipeImage {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 5px;
}

.editRecipeButton {
    float: right;
}

.recipeName {
    margin: 0px;
    padding-top: 5px;
}

.recipeInfo {
    margin: 0px;
    padding-top: 5px;
}